
body{
    font-size: 2vw;
    font-family: baskerville;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 36, 36);
    color: rgb(236, 184, 206);
    margin:0%;
    border: 0ch;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 5%;
}
* {
    box-sizing: border-box;
  }
.container-fluid{
    margin: 5%;
    margin-bottom: 0%;
}
header{
    display: block; 
    background-color: rgb(0, 0, 0);
    width:100%;
    height: auto;
    margin: 0%;
    color: rgb(207, 98, 189);
}
footer{
    display: block;
    color: rgb(207, 98, 189);
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0%;
    margin: 0%;
    bottom: 0%;
    width: 100%;
    padding-bottom: 0.3%;
}

@media only screen and (max-width: 990px){
    footer{
        padding: auto;
        position: fixed;
    }
}

#musicpic{
    float: right;
    max-width: 100%;
    height: auto;
    margin-right: 5%;
    margin-top: 0%;
    padding: 5%;
}
a{
    color: rgb(207, 98, 189);
}

a:visited{
    color: blueviolet;
}
a:hover{
    color: rgb(226, 43, 43);
}
.col-md-5{
    margin: 1%;
}


